img {
    position: fixed;
    height: 8vh;
    border-radius: 50%;
    top: 2vh;
    right: 2vh;
}
main {
    height: 200vh;;
}
div {
    visibility: hidden;
    top: 2vh;
    right: 2vh;
    position: fixed;
    width: 20vw;
    height: 20vh;
    border: solid black 2px;
}